# Change the values in this file to match your local configuration. Then rename it to .env
# The values in this file are the default values set in local development environment.

# Values for oidc plugin
keycloak_admin_user=admin
keycloak_admin_password=admin
keycloak_allowed_groups="[kimug, belleville]"
keycloak_client_id=plone
keycloak_client_secret=12345678910
keycloak_issuer=https://keycloak.127.0.0.1.nip.io/realms/plone
keycloak_realm=plone
keycloak_redirect_uris=http://localhost:8080/Plone/acl_users/oidc/callback
keycloak_url=https://keycloak.127.0.0.1.nip.io/
# Values for oidc-sso-apps plugin
SSO_APPS_ACCESS_GROUP=access_imio-apps-plone
SSO_APPS_URL=https://keycloak.127.0.0.1.nip.io/realms/sso-apps/protocol/openid-connect/token
SSO_APPS_CLIENT_ID=imio-apps-plone
SSO_APPS_CLIENT_SECRET=imio-apps-plone-client-secret
SSO_APPS_USER_USERNAME=imio-apps-plone_belleville-ac
SSO_APPS_USER_PASSWORD=Kimug123456***
SSO_APPS_MUNICIPALITY_GROUPS="[pl_belleville-ac]"